<html>
    <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Smit Mandavia blogs</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Smit Mandavia Blog</a></h1>
        </div>

{% for post in posts %}
  <div>
    <p>published: {{ post.published_date }}</p>
    <h1><a href="">{{ post.title }}</a></h1>
    <p>{{ post.text|linebreaksbr }}</p>
  </div>
{% endfor %}

        <div>
            <p>published: 23.03.2018, 21:14</p>
            <h2><a href="">My second post</a></h2>
            <p>I hope they will not forget me...</p>
        </div>
    </body>
</html>
