<html>
    <head>
        <title>Smit Mandavia blogs</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Smit Mandavia Blog</a></h1>
        </div>

        <div>
            <p>published: 23.03.2018, 20:58</p>
            <h2><a href="">My first post</a></h2>
            <p>I am really lucky to have such nice besties :)</p>
        </div>

        <div>
            <p>published: 23.03.2018, 21:14</p>
            <h2><a href="">My second post</a></h2>
            <p>I hope they will not forget me...</p>
        </div>
    </body>
</html>
